@import "tailwindcss";

@font-face {
  font-family: 'Orpheus';
  src: url('./assets/fonts/Orpheus\ Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Bold.ttf') format('truetype');
  font-weight: 700;
}

@theme {
  /* Color */
  --color-black: #000000;
  --color-sage: #656D56;
  --color-fwhite: #F8F5EE;
  --color-sand: #BBB5A7;
  --color-cloud: #D0D0CE;
}

body,
html {
  padding: 0;
  margin: 0;
}

.font-afacad {
  font-family: 'Afacad';
}

.font-orpheus {
  font-family: 'Orpheus';
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

::-scrollbar {
  width: 0;
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ambient-glow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: screen;
  box-shadow: 
    inset 0 0 40px rgba(148, 155, 255, 0.45),
    inset 0 0 80px rgba(148, 155, 255, 0.3),
    inset 0 0 50px rgba(148, 155, 255, 0.25);
  opacity: 0.8;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}